.Lawsuit {
    height: 40.63px;

    display: flex;
    align-items: center;

    padding: 0px 23px;
    background: rgba(31, 34, 51, 0.8);

    text-align: start;

    span {
        font-size: 14px;
    }

    .text-blue {
        color: #2c99ff;
    }

    .text-white {
        color: #ffffff;
    }

    .Number {
        width: 172.83px;
        margin-right: 50px;
    }

    .Client {
        width: 165px;
        margin-right: 32px;
    }

    .Lawsuit-Name {
        width: 253px;
        margin-right: 25px;
    }

    .Last-Update {
        width: 162.56px;
    }
}
