@import '../../styles/variables';
@import '../../styles/mixins';

.procedure-list {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 64px;

  .content {
    width: 1080px;

    h1 {
      color: $udev-blue;
    }
  }
}
