@import "../../scss/variables.scss";

.login-input {
  padding-bottom: 3px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid $secondary-blue;
  width: 100%;

  &:focus {
    outline: none;
    border-bottom: 1px solid $attention;
  }
}
