.Lawsuit {
    height: 40.63px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 23px;
    background: rgba(31, 34, 51, 0.8);

    text-align: start;

    .text-blue {
        color: #2C99FF;
    }

    .text-white {
        color: #FFFFFF;
    }

}