.Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .GoingOut {
        all: unset;
        cursor: pointer;

        width: 123px;
        height: 31px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        background: #ff4d4f;
        border-radius: 4px;

        color: #f9f9fb;

        span {
            font-size: 14px;
            font-weight: 700;
        }
    }
}
