.Header {
    width: 100vw;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    button {
        all: unset;
        cursor: pointer;

        margin-top: 19px;
    }

    .night {
        padding: 7px;
        background: #2C99FF;
        border-radius: 4px;
    }

    .getout {
        display: flex;
        gap: 16px;

        padding: 7px 32px;
        background: #FF4D4F;
        border-radius: 4px;

        color: #F9F9FB;

        margin-right: 40px;
    }
}