.Subject-SideMenu {
    cursor: pointer;

    button {
        all: unset;

        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            width: 5px;
            height: 28px;

            background-color: #20c997;
            border-radius: 0px 4px 4px 0px;

            margin-right: 34px;
        }

        span {
            font-size: 14px;
        }

        .Icon-SideMenu {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }
    }
}
