@import '../../styles/variables';
@import '../../styles/mixins';

.edit-admin-data {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  margin-top: 64px;

  .content {
    width: 1080px;

    h1 {
      color: $udev-blue;

      margin-bottom: 53px;
    }

    .action-buttons {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}