@import '../../styles/variables';
@import '../../styles/mixins';

.main-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 16px;
  background-color: $tertiary-blue;
  box-shadow: 0px 3px 10px 0px #00000040;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    width: rem(1080px);
    height: 30px;
    color: $ice-background;

    h1 {
      margin-right: auto;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .logout {
      all: unset;
      cursor: pointer;

      width: 123px;
      height: 31px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      background: $error;
      border-radius: 4px;

      color: $ice-background;

      span {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
