* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

.made-with-love {
  position: absolute;
  bottom: 26px;
  color: #fff;

  span {
    color: #5B9BD5;
  }
}